{% extends "base.html" %}

<head>
{% block head %}
<title>Login</title>
{% endblock %}
</head>


<body>
{% block body %}

<div class="container">

	<h1> Welcome </h1>  
	<h2> You can login here ! </h2>
	<p>Please enter your 
		usename and password   </p>

	<form method="post">
		{% csrf_token %}
		{{form.as_p}}

						</form>

<button type="submit"> Login </button>
												</div>







<div class="container">

<h1>{{myname}}</h1>
<ul> 

<h3>list 1</h3>
	{% for items in numbers %}                   
		<li>{{numbers}}</li>	
		{%endfor%}

<h3>list 2</h3>
	{% for numbers in numbers %}
		<li>{{numbers}}</li>	
		{%endfor%}

<h3>list 3</h3>
	{% for numbers in numbers %}
		<li>{{items}}</li>	
		{%endfor%}

<h3>list 4</h3>
	{% for items in numbers %}
		<li>{{items}}</li>	
		{%endfor%}

</ul>  </div>

{% endblock %}

</body>
